body {
	background-color: #ededed;
	font-weight: bold
}

table {
	width: 100%;
	border-collapse: collapse; 
	line-height: 30px;
}

tr {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	margin-bottom: 5px;
}

tr.slim-border {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	margin-bottom: 2px;
}

td {
	text-align: center;
	width: 25%;
}

input {
	width: 33%;
	text-align: center;
	border: none;
	border-radius: 3px;
}

button {
	border: none;
	border-radius: 3px;
	color: #eeeeee;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bolder;
}

button:focus {
	outline: none;
}

button:active, button:hover {
	color: #ffffff;
}

.plus, #yes {
	background-color: #4caf50;
	width: 20px;
}

.plus:active, .plus:hover, #yes:active, #yes:hover {
	background-color: #39843b;
}

.minus, #no {
	background-color: #bf0000;
	width: 20px;
}

.minus:active, .minus:hover, #no:active, #no:hover {
	background-color: #a30000;
}

#title {
	text-align: center;	
}

.history {
	color: darkgray;
}

.total {
	float: left;
}

.date {
	float: right;
	font-weight: normal;
	font-size: 15px;
}

#new-line {
	margin-top: 12px;
	float: right;
	font-size: 16px;
	font-weight: bold;
}

#reset, #new-line {
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	background-color: #4caf50;
}

#reset:active, #reset:hover, #new-line:active, #new-line:hover {
	background-color: #39843b;
}

#reset {
	float: left;
}

#new-line {
	float: right;
}

#confirm-background {
	position: fixed; 
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%; 
	height: 100%; 
	z-index: 100;
	top: 0; 
	left: 0; 
}

#confirm {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	padding: 15px;
	top: 160px;    
	z-index: 101;
	background-color: #fff;
	background-repeat: no-repeat; 
	border-radius: 7px;
	text-align: center;
}

#yes, #no {
	padding: 8px 0;
	margin: 10px 20px 0 20px;
	width: 50px;
}

.header-image {
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 50%;
	height: 40px;
}

#two {
	background-image: url(./two.png);
}

#five {
	background-image: url(./five.png);
}

#seven {
	background-image: url(./seven.png);
}

#ten {
	background-image: url(./ten.png);
}
